.search_input {
  font-size: 26pt;
  width: 500px;
  margin: auto;
  display: block;
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(1, 1, 189);
  background-color: #cceff8;
}

.card {
  width: 500px;
  margin: auto;
  border: 1px solid black;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(248, 228, 228);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: x-large;
  font-weight: 900;
  font-style: italic;
}

.img-flag {
  padding-bottom: 20px;
}

.country_list {
  width: 500px;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
  background-color: #e0dfdf;
}
